#employee-profile .employee-detail {
  display : flex;
  flex-wrap:wrap;
  
  justify-content: space-evenly;
}
#employee-profile .div-item{
  background-color: brown;
  margin : 1em 1em;

}

#employee-profile .card{
  width : 40em
}
#employee-profile .item-pic{
  width:20em
}

#employee-profile .form-group{
  display :flex;

}
#employee-profile .form-group-item{
  margin : 0 1em;
}