#employee-profile .employee-detail {
  display : flex;
  flex-wrap:wrap;
  
  justify-content: space-evenly;
}
#employee-profile .div-item{
  /* background-color: brown; */
  margin : 1em 1em;

}
#employee-profile .item-details{
  padding : 1em 1em;
  border: var(--colorgold1);
  border-style: solid ;
  border-radius: 15px;
  border-width: 4px;

}

#employee-profile .card{
  width : 40em
}
#employee-profile .item-pic{
  width:20em
}


#employee-profile .form-group{
  display :flex;

}
#employee-profile .form-group-item{
  margin : 0 1em;
}