#person-main .card{
  background-color: aquamarine;
  display : flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#person-main .person-data{
  display : flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#person-main .person-data .card{
  margin-bottom: 10px;
}
#person-main  .div-buttons{
  display : flex;
}
#person-main .div-links{
  display : block;
  justify-content: flex-start;
  background-color: rgb(238, 144, 61);

}
