.navbar{
  z-index: 1000;

}
.navbar-text span{
  font-family: "Dancing+Script", sans-serif;
  font-weight: 600;
  
  font-style: italic;
  font-size: 30;
  color : rgb(99, 12, 154);
}
.navbar a {
  text-decoration: None;
}
.navbar-text span-b{
  font-family: "Dancing+Script", sans-serif;
  font-weight: 600;
  
  font-style: italic;
  font-size: 30;
  color : rgb(7, 76, 75);
}