.navbar{
  z-index: 1000;
  position : fixed;
  top : 0;
  width: 100%; /* Full width */
  padding : 0;
  

}

#logo-text{
  color : rgb(27, 18, 133);
}

.navbar a {
  text-decoration: None;
}

.nav p span.span-b{
  color : rgb(189, 94, 159);
}
