#phone-list .my-container{
  display:block;
}
#phone-list .div-links{
  display : flex;
  justify-content: space-between;
}

#phone-list .phone-main{
  display : inline-block;
  flex-wrap: wrap;

  justify-content: space-around;
  align-items: center;

  width: 100%;
  background-color: rgb(171, 153, 146);
  
  
}
#phone-list .phone-main .form-dept{
  background-color: rgb(210, 182, 182);
  margin: 10px 10px;
  padding: 10px 10px;
}


#department-create .header-links h3{
  color: red;
}
#department-create .div-links{
  display: flex;
  justify-content: space-between;

}
#department-create .dept-details{
  display :flex;

  justify-content: space-around;
  align-items: center;
  align-content: center;
}
#department-create .dept-form{
  display : block;
  background-color: aquamarine;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;

}

/* using tweaks */
#department-create .dept-create-form .entry-name,
#department-create .dept-create-form .entry-desc{
  background-color : rgb(219, 196, 196);
}
#department-create .dept-create-form .entry-desc{
  min-height:5em;
  height : 5em;
  max-height:7em;
}
#phone-list  #entry-phone-number{
  background-color:var(  --color4 );
  min-width: 20em;
  width : 25em;
}

#employee-create .view-area{
  background-color: rgb(201, 172, 172);
  display:flex;
  flex-wrap:wrap;
  padding : 1em 1em;
  justify-content: space-evenly;
}

#employee-create .view-items{
  background-color: rgb(206, 223, 217);
  max-width: 40em;
  margin : 1em 1em;
  padding : 1em;

}

#employee-create .entry-form{
  
  background-color: rgb(208, 212, 199);
  display: flex;
  justify-content: space-evenly;
}
#employee-create .form-group{
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

