{% extends 'main/base.html'%}
{% load crispy_forms_tags %}
{% load static %}



{% block content %}
<section id="print-invoice">

  <div class="my-container my-container-para d-block " 
  style="--margin-top:5px; 
        --margin-right:5%;
        --margin-left: 5%"
  >
  <!-- {%include 'app_student/student-sidebar.html' %}   -->
    <div class="header-links">
      <h3>{{title}}</h3>
    </div>

    
    <div class="div-container">

    </div>



  </div>

</section>
<link rel="stylesheet" href="{% static 'css/custom-app-student-sidebar.css' %}">

<link rel="stylesheet" href="{% static 'css/custom-app-invoice-print.css' %}">

<script src="{% static 'js/app-invoice-print.js' %}" ></script> 


{% endblock %}