{% extends 'main/base.html'%}
{% load widget_tweaks %}
{% load static %}


{% block content %}
<section id="employee-profile">
  <div class="my-container my-container-para " 
  style="--margin-top:5px; 
        --margin-right:5%;
        --margin-left: 5%; ">


    <div class="row">
      <h5>employee form </h5>
      {% include 'app_hr/headerlink-employee-profile.html'%}
      {{employee}}

      <div class="view-body">
        <div class="col-md-3">
          <div class="card card-body">
            <a class="btn btn-warning" href="{% url 'app_hr:create-employee' %}">&#8592;Back to Profile</a>
            <hr>
            <h3 style="text-align : center;">Account Setting</h3>
            <hr>
            {{employee.fist_name}}

            <img class="profile-pic" src="{{employee.photo.url}}" alt="profile pic">
            
          
          </div>
  
       
          <div class="col-md-9">
            <div class="card card-body">
              <form method = 'POST' action="" enctype="multipart/form-data">
                {%csrf_token%}
                {{form.as_p}}
                <input type="submit" class="btn btn-primary" name="Update Information">
    
              </form>
    
            </div>
          </div>  
  
      </div>


    </div>
  </div>

</section>
<link rel="stylesheet" href="{% static 'css/custom-app-hr.css' %}">

{% endblock %}

