{% extends 'main/base.html'%}
{% load widget_tweaks %}
{% load static %}


{% block content %}
<section id="employee-profile">
  <div class="my-container my-container-para " 
  style="--margin-top:5px; 
        --margin-right:5%;
        --margin-left: 5%; ">
    <div class="container d-block">
      <h3 class="text-center">Employee Profile</h3> 
      <div class="employee-detail">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top profile-pic" src="{{employee.photo.url}}" alt="Card image cap">
          <div class="card-body">
            {{employee.first_name}}  {{employee.last_name}}
            <form action="" method="POST" enctype="multipart/form-data">
              {%csrf_token%}
              {{form.as_p}}
              <input type="submit" class="btn btn-primary" name="Update Information">              

            </form>
       
           


          </div>
        </div>
        
      </div>

    </div>
</section>
<link rel="stylesheet" href="{% static 'css/custom-app-hr-employee-profile.css' %}">

{% endblock %}

