{% extends 'main/base.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<section id="employee-create">
  <div class="my-container my-container-para d-block " 
  style="--margin-top:5px; 
        --margin-right:5%;
        --margin-left: 5%; "
  >

      <div class = "center">
        <h3 class="text-center">Create Employee</h3>
      </div>
      <div id="alert-box"> 
      </div>
      <div class="view-area">
        <div class="view-items entry-form">
          <div class="form-div ">
            <div id="img-box"> 
            </div>
            <form id='p-form' action="" enctype="multipart/form-data" autocomplete="on">
              {% csrf_token%}
              <!-- {{form|crispy}} -->
              <div class="row d-flex">
                <div class="form-row">
                  <div class="form-group">
                    <div class="form-group-item">
                      {{form.first_name|as_crispy_field}}
                    </div>
                    <div class="form-group-item">
                      {{form.last_name|as_crispy_field}}                  
                    </div>
                  </div>  
                </div>
                <div class="form-row">
                  <div class="form-group">
                    <div class="form-group-item">
                      {{form.designation|as_crispy_field}}
                    </div>
                    <div class="form-group-item">
                      {{form.email_address|as_crispy_field}}                  
                    </div>
                  </div>  
                </div>     
                <div class="form-row">
                  <div class="form-group">
                    <div class="form-group-item">
                      {{form.phone_number|as_crispy_field}}
                    </div>
                    <div class="form-group-item">
                      {{form.department|as_crispy_field}}                  
                    </div>
                  </div>  
                </div>                             
                <div class="form-row">
                  <div class="form-group d-flex">
                    <div class="form-group-item">
                      {{form.photo|as_crispy_field}}
                    </div>
                    <div class="form-group-item">
                      {{form.myportfolio|as_crispy_field}}
                    </div>                    
                  </div>  

                </div>     
              </div>
  
  
              <button type="submit" class="btn btn-mybtn" id="btn-create-employee" data-url="{% url 'app_hr:add-employee'%}">Submit</button>
            </form>    

          </div>
        </div>
        <div class="view-items emp-list">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Designation</th>
                  <th scope="col">Department</th>
                  <th scope="col">Actions</th>
                </tr>
  
              </thead>
              <tbody id="tbody">
                {% for employee in employees%}
                <tr id="emp-id-{{employee.id}}">
                  <td>{{employee.first_name}}</td>
                  <td>{{employee.last_name}}</td>
                  <td>{{employee.designation}}</td>
                  <td>{{employee.department}}</td>
                  <td><a href="{% url 'app_hr:employee-profile' employee.id %}">view</a>
                    &ensp;&ensp;
                    <button class="btn btn-danger btn-sm " 
                    data-sid="{{employee.id}}" id="btn-employee-delete"
                    data-url="{% url 'app_hr:employee-delete' %}"
                    >
                      <i class="bi bi-trash3"></i>
                    </button>
                  </td>
  
                </tr>
                {%endfor%}
            
              </tbody>
            </table>
        </div>      
      </div>
    </div>    
</section>
<link rel="stylesheet" href="{% static 'css/custom-app-hr.css' %}">

<script src="{% static 'js/app_hr_employee_create.js' %}" ></script> 
{% endblock %}

