{% extends 'main/base.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<section id="employee-create">
  <div class="my-container my-container-para  d-block " 
  style="--margin-top:5px; 
        --margin-right:5%;
        --margin-left: 5%; "
  >

      <div class = "center">
        <h3 class="text-center">Create Employee</h3>
      </div>
  
      <div>
        {% include 'app_hr/headerlink-create-employee.html' %}
  
      </div>
  
  
      <div class="view-area">
        <div class="entry-form">
          <div id="img-box"> 
          </div>

          <form id='p-form' action="" autocomplete="on">
            {% csrf_token%}
            {{form|crispy}}
            <button type="submit" class="btn btn-mybtn" id="btn-create-employee" data-url="{% url 'app_hr:add-employee'%}">Submit</button>
          </form>          
          <div id="alert-box"> 
            <p>colum 3</p>
          </div>
          
        </div>
        <div class="  emp-list">
          <div class="employee-list">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Designation</th>
                  <th scope="col">Department</th>
                  <th scope="col">Actions</th>
                </tr>
  
              </thead>
              <tbody id="tbody">
                {% for employee in employees%}
                <tr id="emp-id-{{employee.id}}">
                  <td>{{employee.first_name}}</td>
                  <td>{{employee.last_name}}</td>
                  <td>{{employee.designation}}</td>
                  <td>{{employee.department}}</td>
                  <td><a href="{% url 'app_hr:employee-profile' employee.id %}">view</a>
                    &ensp;&ensp;
                    <button class="btn btn-danger btn-sm " 
                    data-sid="{{employee.id}}" id="btn-employee-delete"
                    data-url="{% url 'app_hr:employee-delete' %}"
                    >
                      <i class="bi bi-trash3"></i>
                    </button>
                  </td>
  
                </tr>
                {%endfor%}
            
              </tbody>
            </table>
  
          </div>
  
        </div>      
   
      </div>
    </div>    
    


</section>
<link rel="stylesheet" href="{% static 'css/custom-app-hr.css' %}">

<script src="{% static 'js/app_hr_employee_create.js' %}" ></script> 
{% endblock %}

