{% extends  'main/base.html' %}
{% load static %}


{% block content %}


<section id="task">
  <div class="my-container my-container-para " 
  style="--margin-top:20px; 
        --margin-right:10%;
        --margin-left: 10%; "
  >

 
    <div class="main-box">
      <h4>Class Based</h4>
      <div class="container">
        <div class="product-table">
          <h3>Delete</h3>
          <p>Are you sure you want to delete "{{task.body}}?"</p>

          <a href="{% url 'app_sample:tasks' %}">Cancel</a>

          <form method = 'POST' action="">
            {% csrf_token %}
            <input type="submit" name = 'Confirm' >

          </form>

        </div>

        

      </div>




    </div>


  </div>

     
 

</section>

<link rel="stylesheet" href="{% static 'css/custom-app-sample.css' %}">


{% endblock %}
