{% extends  'main/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/custom-app-sample.css' %}">

{% block content %}


<section id="topics">
  <div class="my-container my-container-para d-block" style="--margin-top:8em; 
        --margin-right:7%;
        --margin-left: 7%; --margin-bottom: 1em; 
        ">
          <div class="card-list">
            <div class="card" >
              <div class="card-body">
                <h5 class="card-title">Invoice</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">details.</p>
                <div class="btn-group">
                  <button class="btn btn-mybtn"><a  href="{% url 'app_invoice:invoice-create' %}">Invoice Create</a></button>

            
                  <button class="btn btn-mybtn">
                    <a  href="{% url 'app_print:reprint-invoice' %}">Reprint invoice using form.Forms</a>
                  </button>  

                                                             

                </div>
              </div>
            </div>
            <div class="card" >
              <div class="card-body">
                <h5 class="card-title">Invoice</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">details.</p>
                <div class="btn-group">
                  <button class="btn btn-mybtn"><a  href="{% url 'app_hr:create-employee' %}">Employee Entry (uploading Media)</a></button>
                  
                </div>
              </div>
            </div>


            <div class="card" >
              <div class="card-body">
                <h5 class="card-title">Import Files</h5>
                <h6 class="card-subtitle mb-2 text-muted">Import Files from Excel</h6>
                <p class="card-text">details.</p>
                <div class="btn-group">
                  <button class="btn btn-mybtn import-country" disabled="True" >
                    <a  href="{% url 'app_person:import-file-excel' %}">Import Excel Country</a>
                  </button>
                  <button class="btn btn-mybtn import-country" disabled = True >
                    <a  href="{% url 'app_person:import-cities-file-excel' %}">Import City - not working</a>
                  </button>                  
                </div>

            
             

              </div>
            </div>            
        

            <div class="card" >
              <div class="card-body">
                <h5 class="card-title">SAmple Progs</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">details.</p>
                <div class="btn-group">
                  <button class="btn btn-mybtn"><a  href="{% url 'app_sales:sales-main' %}">Sales Main App</a></button>
                </div>                
                <div class="btn-group">
                  <button class="btn btn-mybtn"><a  href="">Student Main App</a></button>
                </div>

                <div class="btn-group">
                  <button class="btn btn-mybtn"><a  href=''>Chained Dropdown List</a></button>
                </div>
                <button class="btn btn-mybtn"><a  href="{% url 'app_invoice:date-formatting' %}">date formatting </a></button>
                <button class="btn btn-mybtn"><a  href="">dynamic form input</a></button>   
                <button class="btn btn-mybtn"><a  href="{% url 'app_print:print-invoice-tabular' %}">Print Tabular invoice tabular</a></button>     
              


              </div>
            </div>       


            <div class="card" >
              <div class="card-body">
                <h5 class="card-title">Program samples</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">details.</p>
                <div class="btn-group">
                  <button class="btn btn-mybtn"><a  href="{% url 'app_sample:select-option' %}">select option</a></button>

                  <button class="btn btn-mybtn"><a  href="{% url 'app_sample:bootstrap-box' %}">bootstrap box</a></button>
                  <button class="btn btn-mybtn"><a  href="{% url 'app_sample:sample_course' %}">course</a></button>
    
                  <button class="btn btn-mybtn"><a  href="{% url 'app_sample:working-with-foreignkey' %}">ForeignKey</a></button>
                  <button class="btn btn-mybtn"><a  href="{% url 'app_sample:tasks' %}">Class Base 1</a></button>

                  <button class="btn btn-mybtn"><a  href="{% url 'app_hr:phone-add' %}">Phone Number -Employee</a></button>
                  <button class="btn btn-mybtn"><a  href="{% url 'app_sample:date-sample' %}">date sample</a></button>
                  <button class="btn btn-mybtn"><a  href="{% url 'app_hr:context-processor' %}">Create Department</a></button>

                </div>                           


              </div>
            </div>    

            <div class="card" >
              <div class="card-body">
                <h5 class="card-title">HR</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">details.</p>
                <div class="btn-group">
                  <button class="btn btn-mybtn">
                    <a  href="{% url 'app_hr:department-create' %}">Create Department</a>
                  </button>
                  <button class="btn btn-mybtn">
                    <a  href="{% url 'app_hr:create-employee' %}">Add Employee</a>
                  </button>
                  <button class="btn btn-mybtn">
                    <a  href="{% url 'app_hr:crispy-add-photo' %}">crispy form add photo</a>
                  </button>           
                  <button class="btn btn-mybtn">
                    <a  href="{% url 'app_posts:posts' %}">post</a>
                  </button>                             
                </div>
              </div>
            </div>     
            <div class="card" >
              <div class="card-body">
                <h5 class="card-title">How to use Ajax</h5>
                <h6 class="card-subtitle mb-2 text-muted">How to use get and post methods in jQuery AJAX - Learn AJAX programming</h6>
                <p class="card-text">https://www.youtube.com/watch?v=MG9itGX1hD0&t=50s</p>
                <p><small>by :REading viles
                <div class="btn-group">
                  <button class="btn btn-mybtn">
                    <a  href="{% url 'app_sample:reading-text-file' %}">Read external files</a>
                  </button>
                </div>  
          
              </div>
              
            </div>  
<!-- **** -->           

          </div>
  </div>

</section>

<link rel="stylesheet" href="{% static 'css/custom-app-topics.css' %}">

{% endblock %}
